@font-face {
  font-family: "Vienna";
  src: url(/milya/fonts/vienna.otf);
}
@font-face {
  font-family: "NewChannel";
  src: url(/milya/fonts/newchannel.ttf);
}
@font-face {
  font-family: "Coventry";
  src: url(/milya/fonts/coventry.otf);
}

* {
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  background: linear-gradient(
    116.77deg,
    rgba(255, 219, 198, 0.8) 1.24%,
    rgba(255, 219, 198, 0.8) 59.72%,
    rgba(255, 255, 255, 0.4) 98.8%
  );
  margin: auto;
  padding: 0;
  overflow-x: hidden;
  /* position: relative; */
  height: 100%;
  width: 100vw;
}

.wrapper {
  overflow-x: hidden;
  /* position: relative; */
  height: 100%;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
.header-main-info-contacts-phone,
h3 {
  font-family: "Coventry";
}
h1 {
  font-size: 8.333vw;
  font-weight: normal;
  line-height: 6.736vw;
  margin: 0;
  padding: 0;
}
.header-main-info-contacts-phone {
  font-size: 5.208vw;
}

header,
section,
footer,
.header-main,
.header-main-info,
.header-main-info-contacts-socials,
.price .price-row,
.info,
.info-buttons,
.address {
  display: flex;
}

.header-main,
.header-main-info-contacts,
.price,
section,
.info-buttons,
.address {
  flex-direction: column;
}

.header, .when, .result, .mustnot, .qna, .address, .footer {
  max-width: 100vw!important;
}

.header {
  position: relative;
  background: linear-gradient(
    129.77deg,
    #ffdbc6 40%,
    rgba(255, 219, 198, 0) 100%
  );
  max-width: 100vw;
  overflow: hidden;
}

.header-main {
  width: fit-content;
}

.header-main-title {
  width: fit-content;
}

.header-socials > img, .footer-social >img {
  width: 4.375vw;
}

.price-row,
.info {
  flex-direction: row;
}

.header-main {
  justify-content: space-between;
  height: 54.5vw;
}

.header-main-info {
  width: 66vw;
  flex-direction: row;
  justify-content: space-between;
}

.header-main-info-name {
  margin-top: 3vw;
}

.logo,
.header-main-info-name,
.header-main-info-contacts {
  width: 32vw;
}

.logo {
  object-fit: contain;
  align-self: start;
  margin-top: -2vw;
}

.header-main-info-contacts {
  padding: 2vw;
}

.header-main-info-contacts-socials,
.header-main-info-contacts-phone {
  flex-direction: row;
  justify-content: flex-end;
}

.header-main-info-contacts-phone {
  align-self: end;
  text-align: right;
  line-height: 9.306vw;
}
.header-main-info-contacts-socials > a {
  margin-left: 2vw;
}

/* price */

.price {
  margin-bottom: 2vw;
}
.price-row {
  width: 40vw;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.price-number {
  font-family: NewChannel;
  font-style: normal;
  font-weight: 900;
  font-size: 5.972vw;
  line-height: 4.861vw;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.17);
}

.price-item {
  width: 33vw;
  margin-left: -4vw;
  text-align: start;
}

.price-cost {
  text-align: right;
}

.price-item,
.price-cost {
  font-family: Vienna;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 2.847vw;

  color: #000000;
}

hr {
  width: 40vw;
  border: 0.069vw solid;
}

.when,
.result,
.mustnot,
.qna,
.section-li, 
.address {
  align-items: center;
}
.section-li {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.section-h3, .modal-h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 5.972vw;
  line-height: 6.319vw;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
}

.section-ul {
  font-family: "Vienna";
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 2.431vw;
  color: #000000;
  margin: 0;
  width: 62vw;
}

.qna-button,
.info-button {
  border: 0.278vw solid #000000;
  border-radius: 4.653vw;
  background-color: inherit;
  filter: drop-shadow(0vw 0.278vw 0.972vw rgba(0, 0, 0, 0.25));
  letter-spacing: 0;
  padding: 0.5vw;
}

.when,
.mustnot,
.result {
  position: relative;
}

.when::after {
  background: url("/milya/img/158595-4583.jpg");
}

.result::after {
  background: url("/milya/img/sr-medizinische-kosmetik-slide3.jpg");
}

.mustnot::after {
  background: url(/milya/img/massazh-lica.jpg);
}

.when::after,
.result::after,
.mustnot::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}

.result {
  display: none;
}

.mustnot {
  display: none;
}

.info {
  height: 54vw;
}

.info-buttons {
  width: 25vw;
  align-items: center;
  justify-content: center;
}

.info-button {
  font-family: "coventry";
  font-size: 3.125vw;
  font-weight: normal;
  line-height: 2.083vw;
  margin: 0.694vw;
  width: 20vw;
  height: 5.556vw;
}

.section-h3 {
  margin-top: 1.5vw;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button:focus {
  outline: none;
}

/* qna */
.qna {
  position: relative;
}
.qna::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/milya/img/massazh-lica.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.2;
  z-index: -1;
}
.qna-h3 {
  margin-top: 4vw;
}
.qna-block {
  filter: drop-shadow(0vw 0.278vw 0.972vw rgba(0, 0, 0, 0.25));
  margin: 0 8vw 4vw 8vw;
  padding: 1.5vw 4vw;
  font-family: "Vienna";
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 2.847vw;
  color: #000000;
  position: relative;
}

.qna-ol {
  list-style: none;
  counter-reset: num;
}

.qna-ol .qna-li::before {
  content: counter(num); 
	counter-increment: num;
  font-family: NewChannel;
  font-style: normal;
  font-weight: 900;
  font-size: 5.972vw;
  line-height: 4.861vw;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.17);
  position: absolute;
  margin-top: -1vw;
  margin-left: -1.5vw;
}

.address {
  padding: 4vw 8vw;
}

.address-p, .modal-p {
  font-family: "Vienna";
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 2.847vw;
  color: #000000;
  margin: 0; 
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.footer-wrap {
  font-family: CoventryC;
font-style: normal;
font-weight: normal;
font-size: 4.167vw;
line-height: 4.375vw;
display: flex;
justify-content: space-between;
}

.footer-name {
  margin-left: 2vw;
}

.footer-contacts {
  display: flex;
  justify-content: flex-end;
}

.footer-social, .footer-phone {
  margin: 0 1vw;
}
.footer-social:nth-child(2) {
  margin-left: 0;
}

.me {
  font-family: NewChannel;
  font-style: normal;
  /* font-weight: 400; */
  font-size: 1.6vw;
  align-self: flex-end;
  /* margin-right: 2vw; */
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  width: 80vw;
  margin: auto;
  padding: 3vw 5vw 5vw 5vw;
  background: rgba(255, 219, 198, 1);
  border-radius: 4.653vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-open {
  display: flex;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.125vw;
}

.modal-h3 {
  text-align: center;
  margin: 0;
  line-height: 4.236vw;
}

.close {
  font-size: 2.5vw;
  border: none;
  background-color: transparent;
  align-self: end;

}

.video {
  position: absolute;
  z-index: -1;
  height: 57vw;
  width: 100vw;
  overflow: hidden;
  top: -2.1vw;
}

.map {
  width: 80vw;
  height: 40vw;
  margin: 2vw 0 0 0;
}

@media (max-width: 768px) {
  
  h1 {
    font-size: 11vw;
    line-height: 9vw;
  }

  .header {
    height: 103vw;
  }

  .video {
    /* position: fixed; */
    min-height: 103vw;
    /* width: 200vw; */
    object-fit: cover;
    top: 0;
  }

  .header-main-title {
    margin: 5vw 0;

  }

  .header-main-title-h1 {
    font-size: 14vw;
    line-height: 14vw;
    margin-left: -8vw;
  }

  .header-main-info {
    width: 63vw;
  }

  .price-row {
    width: 80vw;
    margin-left: -20vw;
  }

  .price-number {
    font-size: 11vw;

  }

  .price-item {
    width: 70vw;
  }
  
  .price-item, .price-cost {
    font-size: 5vw;
    line-height: 10vw;
  }

  /* .info-buttons {
    width: 33vw;
  } */

  .info-button {
    font-family: "coventry";
    font-size: 5vw;
    font-weight: normal;
    line-height: 4vw;
    margin: 1.5vw;
    width: 26vw;
    height: 13vw;
  }

  .section-ul {
    padding-inline-start: 5vw;
    font-size: 3.5vw;
    line-height: 3vw;
    width: 68vw;
  }

  .qna-block {
    margin: 1vw 8vw;
  }
  .when, .result, .mustnot {
    height: 88vw;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .section-h3, .modal-h3 {
    font-size: 10vw;
  }

  .section-div {
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 2vw; */
    
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .info-buttons {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 3vw;
  }

  /* .mustnot > .info > .section-div > ul {
    width: 70vw;
  } */
  .section-ul-3 {
    width: 86vw;
  }

  .qna-ol, .address-p, .modal-p {
    padding: 0;
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .qna-button {
    padding: 2vw;
  }

  .qna-ol .qna-li::before {
    font-size: 10vw;
    line-height: 4.861vw;
  }

  .map {
    height: 100vw;
    margin-top: 2vw;
  }

  .modal-dialog {
    width: 90vw;
    padding: 12vw 5vw;
  }

  .modal-h3 {
    line-height: 7vw;
  }
}
